---
Language:        Cpp
BasedOnStyle:  Chromium
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: true
BreakConstructorInitializersBeforeComma: true
IndentWidth:     4
NamespaceIndentation: All
TabWidth:        4
UseTab:          ForIndentation
...
